numpy

django-rest-framework
django-filter
django
djangorestframework-simplejwt
django-redis
django-autoslug
django-storages[azure]

drf-yasg # swagger
debugpy
# psycopg2
#
uvicorn
debugpy

pytest
pytest-django
pytest-sugar
pytest-xdist
azure-identity

factory-boy

setuptools
celery 
redis

openai
azure-servicebus
azure-search-documents

django-celery-results
django-celery-beat
djangoql

django-admin-interface
django-structlog
django-import-export
django-debug-toolbar
django-axes
django-countries
django-phonenumber-field[phonenumbers]
django-ratelimit
django-harlequin

harlequin[postgres]
babel

gunicorn
django-cors-headers
whitenoise
pytest-cov
drf-spectacular
drf-spectacular[sidecar]
